.movie {
  width: auto;
  margin: 1vh;
  background-color: #000000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.movie-poster {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  max-width: 50%;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.DetailPoster{
  max-width: 40vw;
  max-height: 75vh;
}

.movie-details {
  display: flex;
  width: 45vw;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  color: #fff;
  white-space: nowrap;
  height: fit-content;
}
.movie-title {
  padding: 3vh;
  font-size: 1.5rem;
  font-weight: bold;
}
.movie-details p {
  padding: 5px;
  font-style: italic;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .movie {
    flex-direction: column;
  }
  .movie-poster {
    order: 0;
    width: 100%;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-self: center;
  }
  .DetailPoster{
    align-self: center;
    padding: auto;
    width: 100%;
  }
  .movie-details {
    order: 1;
    width: 90%;
  }
  .movie-details {
    width: 100%;
  }
  .movie-details p {
    font-style: italic;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.2;
    word-wrap: break-word;
    width: 100%;
  }
  .image-gallery {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    max-width: 20vw;
    max-height: 10vh;
  }
  .gallery-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
}
.image-gallery {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 10px;
  max-width: 40vw;
  max-height: 10vh;
}

.gallery-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.gallery-image:last-of-type {
  margin-right: 0;
}

.gallery-image.active {
  border: 2px solid #fff;
}
